/target
**/*.db
**/*.db-journal
**/*.sqlite
**/*.sqlite3
.DS_Store
Thumbs.db
.vs/
**/*.csproj.user
windows/DupdupNinjaWinUI/DupdupNinjaWinUI/bin/
windows/DupdupNinjaWinUI/DupdupNinjaWinUI/obj/
windows/DupdupNinjaWinUI/DupdupNinjaWinUI/AppPackages/
windows/DupdupNinjaWinUI/DupdupNinjaWinUI/BundleArtifacts/
windows/DupdupNinjaWinUI/DupdupNinjaWinUI/runtimes/
